{% extends "admin/change_form.html" %}

{% block extrahead %}
{% if change %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("jquery", "1.4");</script>

<script type="text/javascript">// Convert divs to queue widgets when the DOM is ready
    $( function() {
        $("#uploader").pluploadQueue({
            // General
            runtimes : 'flash',
            url : '{% url upload-file object_id %}',
            max_file_size : '10mb',
            chunk_size : '1mb',
            unique_names : true,

            // Resize images on clientside if we can
            resize : {
                width : 320,
                height : 240,
                quality : 90
            },

            // Specify what files to browse for
            filters : [{
                title : "Image files",
                extensions : "jpg,gif,png"
            },
            ],

            // Flash settings
            flash_swf_url : '{{ MEDIA_URL }}plupload/plupload.flash.swf',
        });

        // Client side form validation
        $('form').submit( function(e) {
            var uploader = $('#uploader').pluploadQueue();

            // Validate number of uploaded files
            if (uploader.total.uploaded == 0) {
                // Files in queue upload them first
                if (uploader.files.length > 0) {
                    // When all files are uploaded submit form
                    uploader.bind('UploadProgress', function() {
                        if (uploader.total.uploaded == uploader.files.length)
                            $('form').submit();
                    });
                    uploader.start();
                } else
                    $('form').submit();

                e.preventDefault();
            }
        });
    });</script>
{% endif %}{{ block.super }}
{% endblock %}

{% block after_field_sets %}
{% if change %}
<div id="uploader">
    <p>
        You browser doesn't have Flash support.
    </p>
</div>

{% endif %}
{{ block.super }}
{% endblock %}